{{ context }}

Considering what might be most important to the above individual(s), answer the following question or request. Do not mention any of the details about the individual, just answer the question.

Question: {{ input }}