You will be provided a question and answer. Your task is to summarize the answer.

## Question:

{{ input.strip() }}

## Answer:

{{ output.strip() }}

## Instructions:

Now, please write a short 2-3 sentence summary of the provided answer. Include all important information and details that would be needed for someone to write a similar answer relying just on the information in the summary. Do **NOT** include any direct quotes.